body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.app {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    height: 100vh;
}

.column1 {
    flex-basis: 20%;
    background-color: #f0f0f0;
}

.column2 {
    flex-basis: 60%;
    background-color: #d0d0d0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    align-items: stretch;
}

.column3 {
    flex-basis: 20%;
    background-color: #a0a0a0;
}

.session {
    display: flex;
    justify-content: space-between;
    background-color: red;
    align-items: center;
    height: 50px;
    margin: 4px 4px;
    border-radius: 10px;

}

.session .title {
    margin-left: 30px;
    display: flex;
    align-items: center;
    width: 200px;
}

.session .title span {
    font-size: 1.25rem;
    margin-left: 4px;
    word-break: break-all;
}

.session .operation {
    margin-right: 30px;
    display: flex;
    justify-content: space-between;
    width: 40px;
}
