body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overscroll-behavior: none;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.app {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    height: 100vh;
}

.session {
    display: flex;
    justify-content: space-between;
    background-color: red;
    align-items: center;
    height: 50px;
    margin: 4px 4px;
    border-radius: 10px;

}

.session .title {
    margin-left: 30px;
    display: flex;
    align-items: center;
    width: 200px;
}

.session .title span {
    font-size: 1.25rem;
    margin-left: 4px;
    word-break: break-all;
}

.session .operation {
    margin-right: 30px;
    display: flex;
    justify-content: space-between;
    width: 40px;
}

/* START of code block actions */
.code-block-wrapper {
    position: relative;
    max-width: 50vw;
}

.rendering .code-block-wrapper div.copy-action {
    display: none;
}

.code-block-wrapper div.copy-action {
    position: absolute;
    right: 4px;
    top: 2px;
    display: flex;
    line-height: 1;
    transition: all .3s;
    opacity: 0;
    cursor: pointer;
    font-size: 12px;
    padding: 0;
    text-align: center;
    border-radius: 2px;
    padding: 4px;
}


html[data-theme='dark'] .code-block-wrapper div.copy-action {
    background-color: rgba(144, 202, 249, 0.16);
}

html[data-theme='dark'] .code-block-wrapper div.copy-action:hover {
    background-color: rgba(144, 202, 249, 0.36);
}

html[data-theme='light'] .code-block-wrapper div.copy-action {
    background-color: rgba(25, 118, 210, 0.08);
}

html[data-theme='light'] .code-block-wrapper div.copy-action:hover {
    background-color: rgba(25, 118, 210, 0.12);
}

.code-block-wrapper:hover div.copy-action {
    opacity: 1;
}

/* END of code block actions */
